*
#header-img { width: 100%;
  height: 100%;} /*image at the top of the page*/
  .overlay {position: absolute; top: 50%; left: 50%; transform: translate(-120%, -281%); width: 40vw; height: 20vh; margin: 0 auto; font-size: 3vw; pointer-events: none; }
    .overlay2 {position: absolute; top: 50%; left: 50%; transform: translate(-86%, -220%); width: 40vw; height: 20vh; margin: 0 auto; font-size: 3vw; pointer-events: none; }
* { box-sizing: border-box; }
body { background-color: #404040; color: white; line-height: 2; } /*applied to main text*/
header { width: 100%; } 
#bio {width: 60%; height: auto; margin: 20px; }
#me {float: right; margin: 2vw; width: 30%; height: auto; } /*photo in about page*/
.indent { text-indent: 50px; } /*I use this to indent text*/

#beef {float: center; display: flex; justify-content: center; margin: 1vw 20vh; text-align: center; pointer-events: none; } /*images at the bottom of the page*/
#baumhass { width: 100%; height: 100%; display: flex; justify-content: left; padding: 25px 5px; }
#seraphim { width: 100%; height: 100%; display: flex; justify-content: right; padding: 25px 0px; }


#baumhaus img { width: 50%; height: auto; }
#seraphim img { width: 60%; height: auto; }

h1 {text-decoration-line: underline; font-style: italic; } /*Ive been using these as differnt fonts cus its easy, perhaps its not the best practice but it fealt natural*/
h2 {font-family: "georgia", serif; text-align: center; }
h3 {font-family: "georgia", serif; margin-left: 15vw; margin-right: 15vw; margin-top: 5vh; text-align: center; text-align: justify; }
h4 {font-family: "georgia", serif; margin-left: 100px; margin-right: 100px; text-align: center; text-align: justify; font-size: 150%}
footer {color: white; font-family: "georgia", serif; text-align: center; }
h5 {font-family: "georgia", serif; font-style: italic; font-size: 100%; }
h6 {font-family: "georgia", serif; text-align: left; font-style: italic; font-size: 100%; }

#space {height: 10vh} /*There are many places in here that I fealt need more space in them*/
#space2 {height: 7.5vh}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex; 
  justify-content: center;

}
ul a {margin: 2vh 5vw; }

#border {background-color: 240000; height: 50%; } 

	.index {background-color: white; width: 125px; height: 500px; margin: 1vw; text-align: left; float: left; }
		/*.top {margin: 20px; line-height: 4; }*/
		.digital {margin: 20px; line-height: 4; } /*these are all for the portfolio page, since they are all the same i likely should have made it all under one tag. if i were finalizing code and dident plan on edditing it after i would have made them sepparate, however i wasent sure when i was making it and that is why there are so many.*/
		.stickers {margin: 20px; line-height: 4; }
		.characters {margin: 20px; line-height: 4; }
		.adverts {margin: 20px; line-height: 4; }
		.creations {margin: 20px; line-height: 4; }
		.photo {margin: 20px; line-height: 4; }
		.paint {margin: 20px; line-height: 4; }
		
 .portfolio_expl {margin: 0 auto; } /*I used these for formating. my guess is there is a better way to do it but this felt more organised, even though all my stuff is now in a bunch of divs*/
	.Center {text-align: center; }
	.left {text-align: left; margin: 2vw; }
	.right {text-align: right; margin: 2vw; }
	
#gallery { display: flex; flex-wrap: wrap; flex-direction: grid; justify-content: center; }
.vid {margin: 0 auto; text-align: center; }

input, textarea {display: block; margin-bottom: 0.5em; }
#form {margin: 4vw; }
.table { margin: 20vh 20vw; }
table, td {border: 1px solid white; width: 40vw; vertical-align: top;}

	#sticker {width: 17vw; margin: 0 auto; }
	#bag {width: 17vw; margin: 0 auto; }
	#shoe {width: 17vw; margin: 0 auto; }
	#shirt {width: 17vw;margin: 0 auto; }